#cabecalho{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 110px;
    background: #ed7203;
}

#cabecalho .container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

#cabecalho .container #menu{
    height: 100%;
}

#menu-icone{
    position: absolute;
    width: 42px;
    height: 7px;
    left: 52px;
    top: 37px;
}

#menu-icone a{
    color: white;
    font-size: 2.6em;
    padding-right: 16px;
    padding-top: 26px;
}

#logo{
    position: absolute;
    width: 156px;
    height: 61px;
    left: 108px;
    top: 24px;
}

#menu .ul{
    display: block;
    list-style: none;
    width: 85px;
    height: 28px;
    left: 914px;
    top: 41px;
}

#lista{
    display: flex;
    float: right;
    text-decoration: none;
    color: white;
    height: 100%;
    margin: 0;
}

#lista li {
    align-self: center;
    display: inline;
    list-style: none;
    padding: 19px 17px 20px;
}

#lista li a{
    color: white;
    font-family: arial;
    font-size: 20px;
    display: flex;
    text-decoration: none;
}

#lista li a i{
    margin-right: 10px;
}


#home {
    position: absolute;
    font-family:arial;
    font-size: 14px;
    Width:599px;
    Height:21px;
    Top:150px;
    Left:39px;
}

#home h2{
     background: linear-gradient(to right, #ED7203 41%, black 0);
     -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
     font-size:16px;
    font-style: normal;
    Width:129px;
    Height:19px;
    Top:150px;
    Left:39px;

}

.img-pontos{
     position: absolute;
     width: 70px;
     height: 70px;
     left: 727px;
    top: 258px;
}

.cadastro{
    position: absolute;
    left: 39px;
    top: 258;
    width: 316px;
    height: 357px;
    background-color: #F0F1F5;
    border-style: solid;
    border-width: 1px;
    border-color: #DADADA;
    top: 258px;
    border-radius: 0px 0px 6px 6px;
}


.cadastro .acompanhecadastro h3 {
  position: absolute;
    width: 228px;
    height: 23px;
    left: 63px;
    top: 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #6B6B6B;


}

.cadastro .acompanhecadastro hr{
  position: absolute;
  width: 277.03px;
  height: 0px;
  left: 15px;
  top: 186px;
  border: 1px solid #6B6B6B;
}

.cadastro .acompanhecadastro{

    background: white;
    width: 316px;
    height: 65px;
    left: 29px;
    top: 69px;
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

}
.cadastro .acompanhecadastro p {

  position: absolute;
    width: 255px;
    height: 29px;
    left: 32px;
    top: 74px;
    font-family: arial;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    padding: 2px;
    margin: 11px;
    line-height: 31px;


}
   span.orange{
   color: #ED7203;
   font-weight:bold;
   float: right;

 }
p span.numero1{
   width: 19px;
   height: 19px;
   position: relative;
   background-color: #ED7203;
   display: inline-flex;
   border-radius: 50%;
   float: right;
}

p span.numero1::before{
   content: "1";
   position: absolute;
   align-self: center;
   display: inline-flex;
   margin: 0 auto;
   color: white;
   font-weight: 700;
   left: 0;
   right: 0;
   width: 10px;
}

.cadastro .VantagensMovida {
  position: absolute;
  width: 284px;
  height: 23px;
  left: 32px;
  top: 202px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
  color: #6B6B6B;
}

.cadastro .VantagensMovida h3 {

  position: absolute;
    width: 228px;
    height: 23px;
    left: 41px;
    top: -11px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #6B6B6B;

}

.cadastro .VantagensMovida p {

   position: absolute;
   width: 255px;
   height: 29px;
   left: -4px;
   top: 29px;
   font-family: arial;
   font-style: normal;
   font-weight: normal;
   font-size: 14px;
   padding: 2px;
   margin: 11px;
   line-height: 31px;





}

.dadospessoais {
  position: absolute;
  width: 276px;
  height: 23px;
  left: 450px;
  top: 441px;
  font-family: arial;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #6B6B6B;
}


 .MainTitle {

    position: absolute;
    width: 173px;
    height: 28px;
    left: 450px;
    top: 431px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #6B6B6B;
}

.formContainer{
    display: flex;

}

.formContainer .UpperText, .formContainer .LowerText {
  display: inline-flex;

}
.formContainer .LowerText {

  margin-left:60px;
}


 .UpperText {

    font-size: 16px;
    line-height: 19px;

 }

 .UpperText p {
      display: inline-flex;
      padding: 0 15px;
}

.UpperText p:first-child {
        padding-left: 0;
}

.UpperText p:last-child {
       padding-right: 0;
}

.UpperText p label{
    margin-left: 10px;

}

.LowerText {

   font-size: 16px;
   line-height: 19px;

}
.LowerText p {
     display: inline-flex;
     padding: 0 15px;
}

.LowerText p:first-child {
       padding-left: 0;
}

.LowerText p:last-child {
      padding-right: 0;
}

.LowerText p label{
   margin-left: 10px;
}


.enviar h4{
  position: absolute;
  width: 779px;
  height: 23px;
  left: 452px;
  top: 769px;
  font-family: arial;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  background: linear-gradient(to right, #ED7203 26%, black 0);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}


.enviar {

  width: 1210px;
  height: 71px;
  left: 464px;
  top: 887px;
  float: left;
  margin-top: 666px;

  }



.enviarBotao input{
  border-radius: 6px;
  position: absolute;
  width: 102px;
  height: 33px;
  left: 450px;
  top: 835px;
  font-family: arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  float: left;
  color: white;
  border-color: coral;
}

.enviarBotao2 input{

  border-radius: 6px;
  position: absolute;
  width: 102px;
  height: 33px;
  left: 600px;
  top: 835px;
  font-family: arial;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  float: left;
  color: white;
  border-color: coral;

}

.continuarBotao {

      position: absolute;
      width: 186px;
      height: 46px;
      left: 1229px;
      top: 921px;
      display: flex;

}

.continuarBotao a{

      border: 3px solid orange;
      border-radius: 6px;
      background-color: #ED7203;
      text-decoration: none;
      color: white;
      height: 48px;
      width: 185px;
      top: 935px;
      font-size: 20px;
      font-family: arial;
      line-height: 44px;
      padding: 0px 39px;
      border-color: coral;


}

.dadospessoais .titulo h3{

    position: absolute;
    width: 601px;
    height: 23px;
    left: 453px;
    top: 441px;
    font-family: arial;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #6B6B6B;


}






























































.reserva{
  position: absolute;
  width: 316px;
  height: 365px;
  left: 39px;
  top: 628px;
}
.facaReserva h3{

  position: absolute;
  width: 183px;
  height: 28px;
  left: 1px;
  top: -62px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bolder;
  font-size: 20px;
  line-height: 23px;
  color: darkslategrey;


}
.facaReserva{
  position: absolute;
  width: 953px;
  height: 466px;
  left: 727px;
  top: 494px;
}
footer{
    position: absolute;
    width: 100%;
    height: 75px;
    left: 0px;
    top: 1018px;
    background-color: #ED7203;
}

#direitos{
    position: absolute;
    width: 100%;
    height: 28px;
    left: 101px;
    top: 1px;
    color: white;
    font-style: normal;
    font-family: arial;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

#social-icones{
    position: absolute;
    left: 79.33%;
    right: 8.33%;
    top: 34.33%;
    bottom: 8.33%;
}

#social-icones a{
    color: white;
    font-size: 2.6em;
    padding-right: 16px;
    padding-top: 10px;
}

#social-icones a:hover{
    color: black;
}
